root = true

[*]
charset = shift_jis
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4

[*.txt]
charset = utf-8
trim_trailing_whitespace = false

[*.md]
charset = utf-8
trim_trailing_whitespace = false

[*.sh]
indent_style = tab

[*.bas]
charset = shift_jis
indent_style = tab
indent_size = 8

[*.asm]
charset = shift_jis
indent_style = tab
indent_size = 8

[*.mac]
charset = shift_jis
indent_style = tab
indent_size = 4

[*.inc]
charset = shift_jis
indent_style = tab
indent_size = 8

[*.asf]
charset = shift_jis
indent_style = space
indent_size = 1

[*.c]
charset = utf-8
indent_style = tab
indent_size = 4

[*.cpp]
charset = utf-8
indent_style = tab
indent_size = 4

[*.h]
charset = utf-8
indent_style = tab
indent_size = 4
