root = true

[*]
charset = shift_jis
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4

[*.txt]
charset = utf-8
trim_trailing_whitespace = false

[*.md]
charset = utf-8
trim_trailing_whitespace = false

[*.sh]
indent_style = tab

[*.asm]
indent_style = tab
indent_size = 8

[*.mac]
indent_style = tab
indent_size = 8

[*.asf]
indent_style = space
indent_size = 1

[*.c]
indent_style = tab
indent_size = 4

[*.cpp]
indent_style = tab
indent_size = 4

[*.inc]
indent_style = tab
indent_size = 4

[*.h]
indent_style = tab
indent_size = 4
